/* ------------------------------------------------------------------------------ 
Project Name : Vembanad Restaurant 
Description : Main Style Sheet 
Author : Imran Rovan 
Created On : 27 Nov 2020 
--------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {
	#burgernav {
		display: none;
	}
	header #menu {
		display: block;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	#menu > ul {
		display: flex;
	}
	#menu > ul > li {
		margin-right: 30px;
		padding: 0;
		position: relative;
	}
	#menu > ul > li:last-child  {
		margin-right: 10px;
	}
	#menu > ul > li > a {
		font-size: 16px;
		color: #fff;
		font-weight: 500;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	
	header.header-fixed  #menu > ul > li > a {
		color: #3a3a3a;
	}
	#menu > ul > li.active a, header.header-fixed #menu > ul > li.active a {
		color: #ce0101;
	}
	header #menu > ul > li > ul {
		display: none !important;
		position: absolute;
		left: -50px;
		top: 100px;
		width: 220px;
		z-index: 100;
		background: #ffffff;
		visibility: hidden;
		opacity: 0;
		border-top: 2px solid #f58320;
		transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05), -2px 0px 5px 1px rgba(0,0,0,0.05);
		-ms-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
		-o-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
		-moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
		box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05), -2px 0px 5px 1px rgba(0,0,0,0.05);
	}
	header #menu > ul > li > ul > li {
		position:relative;
		width:100%;
		border-bottom:1px solid rgba(0,0,0,0.07);
	}

	header #menu > ul > li > ul > li:last-child {
		border-bottom:none;	
	}
	header #menu > ul > li > ul > li > a {
		position: relative;
		display: block;
		padding: 10px 15px;
		line-height: 24px;
		font-weight: 500;
		font-size: 14px;
		text-transform: capitalize;
		color: #292929;
		transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-webkit-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
	}
	header #menu > ul > li > ul > li:hover > a {
		color:#ffffff;
		background:#f58320;
		padding-left:25px;	
	}
}
@media screen and (max-width: 1100px) {
	#menu > ul > li {
		margin-right: 30px;
	}
	.sub-ban h2 {
		padding-top: 20px;
		font-size: 25px;
		line-height: 35px;
	}
	.sub-ban p {
		font-size: 14px;
		line-height: 22px;
	}
	.grandfeast-txt {
		width: 70%;
	}
	.innerban h1 {
		font-size: 40px;
		padding: 120px 20px;
	}
	.contact-box-content .img-holder {
		display: block;
		max-width: 100%;
		width: 100%;
	}
	.contact-box-content .text-holder .col-md-5, .contact-box-content .text-holder .col-md-7 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.contact-box-content .text-holder .opening-hours {
		position: relative;
		display: block;
		overflow: hidden;
		max-width: 100%;
		margin: 20px;
	}
	.dish-desc p {
		font-size: 14px;
		line-height: 21px;
	}
	.offermenu .dish-img {
		max-height: 220px;
		height: auto;
		overflow: hidden;
	}
}
@media screen and (max-width: 1023px) {
	header {
		height: 100px;
	}
	header #menu > ul > li a {
		display: none;
	}
	header .logo img {
		height: 100px;
	}
	.dish-desc h5 {
		font-size: 18px;
	}
	.sub-ban {
		width: 80%;
		left: 25px;
	}
	.logo {
		margin-left: 35px;
	}
	#user a:after {
		content: 'My Account';
		padding-left: 10px;
	}
	.mm-listview li:last-child :after {
		content: 'Logout';
		padding-left: 10px;
	}
	.abt-img {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.abt-txt {
		width: 100%;
		float: none;
	}
	.abt-img img {
		width: auto;
		height: 250px;
		margin: auto;
	}
	.abt-us {
		background: #fff;
		padding: 50px 0;
	}
	.spl-title {
		float: none;
		display: inline-block;
		width: 310px;
	}
	.tdy-offer-txt {
		float: none;
		width: 100%;
		margin-top: 80px;
	}
	.tdy-offer-img {
		float: none;
		width: 100%;
	}
	.tdy-offer-img img:first-child {
		display: none;
	}
	.tdy-offer-img img:last-child {
		width: auto;
		margin-top: 0;
		margin-right: 0;
		float: none;
		position: relative;
		z-index: 5;
		max-height: 200px;
	}
	.owl-prev, .owl-next {
		position: relative !important;
		bottom: inherit;
		left: inherit;
		margin-top: 20px;
		margin-left: 30px;
	}
	.mainmenu .menulist {
		flex-wrap: wrap;
	}
	.mainmenu .menulist .dish-desc {
		width: 75%;
		border-right: 0;
	}
	.mainmenu .menulist .dish-price {
		width: 100%;
		padding: 0px 0 10px 0;
		border-top: 1px solid #ccc;
		margin-top: 15px;
	}
	.dish-price a {
		margin-left: 20px;
	}
	.offermenu .menulist {
		width: 48%;
	}
}
@media screen and (max-width: 767px) {
	.sub-ban {
		width: 70%;
		min-width: 300px;
		max-width: 400px;
		left: 25px;
	}
	.sub-ban p {
		display: none;
	}
	.spl-dishes {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.spl-dishes .dish:first-child, .spl-dishes .dish:nth-child(2), .spl-dishes .dish:nth-child(3) {
		width: 100%;
		margin: 0 0 25px 0;
	}
	.grandfeast-txt {
		width: 100%;
	}
	header {
		background-color: #fff;
		padding: 0 10px;
	}
	.logo {
		margin-left: 80px;
	}
	header.header-fixed #burgernav {
		top: 24px;
	}
	#banner {
		padding-top: 100px;
	}
	.txt h2 {
		font-size: 35px;
		color: #f8c366;
		margin-bottom: 20px;
	}
	.abt-txt {
		margin-top: 20px;
	}
	#counts, #counts:last-child {
		width: 100%;
		float: none;
		margin-right: 15px;
		border-bottom: 1px solid #e6e6e4;
		padding-right: 12px;
		border-right: 0;
	}
	.spl-title {
		width: 245px;
	}
	.grandfeast {
		background: url(../images/grandfeastbg.jpg) center center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 40px 0;
	}
	.grandfeast .txt h2 {
		font-size: 30px;
		color: #f8c366;
		margin-bottom: 10px;
	}
	.grandfeast-txt h3 {
		color: white;
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.flx {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.innerban {
		padding-top: 100px;
	}
	.innerban h1 {
		font-size: 30px;
		padding: 50px 20px;
	}
	.tabs-left {
		margin-bottom: 30px;
		padding: 0;
	}
	.mainmenu .menulist .dish-img {
		width: 100%;
		border-radius: 10px 0 0 10px;
	}
	.mainmenu .menulist .dish-img {
		width: 100%;
		border-radius: 10px;
		max-height: 250px;
		overflow: hidden;
	}
	.mainmenu .menulist .dish-desc {
		width: 100%;
		padding: 15px 15px 0 15px;
	}
	.abtdtls {
		padding-right: 0;
		padding-top: 0;
		padding-left: 0;
	}
	.abtdtls h3 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.embed-responsive img, img.over {
		display: none;
	}
	.fast-text-container {
		margin-top: 50px;
	}
	.fast-text {
		padding-left: 15px;
		border-left: 0;
	}
	.vision .col-md-8 {
		padding-left: 15px;
	}
	.loginBlk {
		width: 90%;
		max-width: 500px;
		padding: 20px;
	}
}
@media screen and (max-width: 450px) {
	p {
		font-size: 14px;
		line-height: 24px;
	}
	.abt-img img {
		width: 100%;
		height: auto;
		margin: auto;
	}
	.sub-ban h2 {
		padding-top: 0px;
		font-size: 18px;
		line-height: 25px;
	}
	.sub-ban a {
		padding: 3px 20px;
		font-size: 14px;
	}
	.tdy-offer-img img:last-child {
		width: 100%;
	}
	.logo {
		margin-left: 55px;
	}
	header .logo img {
		height: auto;
		width: 200px;
		padding: 0;
	}
	header.header-fixed .logo img {
		height: auto;
		padding: 0;
	}
	.cartlink a {
		padding: 5px 8px;
		display: flex;
		align-items: center;
		font-size: 13px;
	}
	.cartlink i {
		margin-right: 5px;
	}
}


























