/* ------------------------------------------------------------------------------ 
Project Name : Vembanad Restaurant 
Description : Main Style Sheet 
Author : Imran Rovan 
Created On : 27 Nov 2020 
--------------------------------------------------------------------------------*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Poppins:wght@400;500;700&display=swap');

/*font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

/*  Reset */
html, body {
	margin: 0;
	padding: 0;
}

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

img {
	display: block;
	outline: none;
}

img, input, textarea, button, select {
	border: 0;
	outline: 0 !important;
	resize: none;
}

a, a:hover, a:focus {
	text-decoration: none;
	-moz-transition: all .200s ease-in-out;
	-webkit-transition: all .200s ease-in-out;
	transition: all .200s ease-in-out;
}

.clear {
	clear: both;
	font-size: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

li.clearfix {
	display: list-item;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, p, a, li, span, div {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

/*Theme */
body {
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	-ms-overflow-style: scrollbar;
	background: #eee;
}
p {
	font-size: 15px;
	line-height: 26px;
	font-weight: 400;
	color: #222;
	text-align: left;
	margin-bottom: 15px;
}
h1,h2,h3 {
	font-family: 'Playfair Display', serif;
}
h4 {
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
}
header {
	position: fixed;
	width: 100%;
	height: 140px;
	top: 0;
	left: 0;
	background-color: transparent;
	padding: 0 50px;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

header.header-fixed {
	height: 80px;
	background-color: rgba(255,255,255,1);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
}

header .logo img {
	display: block;
	height: 130px;
	padding: 8px 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

header.header-fixed .logo img {
	height: 75px;
	padding: 0;
}

.headerright {
	display: flex;
	align-items: center;
}
.cartlink {
	margin-left: 20px;
}
.cartlink a {
	background: rgba(0, 0, 0, 0.6)!important;
	border-radius: 5px!important;
	padding: 8px 18px;
	color: white;
	cursor: pointer;
}

/*search box*/
.search_btn {
	max-width: 350px;
	margin: 0 10px;
	display:none;
}

.control {
	width: 100%;
	position: relative;
}

.control__input {
	display: block;
	margin: 0 0 0 auto;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border: none;
	border-radius: 50px;
	font-size: 14px;
	color: #fff;
	background-color: rgba(0,0,0,0.6);
	padding: 0;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.control__input::placeholder {
	color: #fff;
	opacity: 1;
}

.control__input:-ms-input-placeholder {
	color: #fff;
}

.control__input::-ms-input-placeholder {
	color: #fff;
}

.control__input:focus, .control__input:active {
	outline: 0;
}

.control__input:focus + .control__icon, .control__input:active + .control__icon, .control__input.is-not-empty + .control__icon {
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.control__input--search {
	padding-left: 40px;
	width: 40px;
}

.control__input--search:focus, .control__input--search:active, .control__input--search.is-not-empty {
	width: 100%;
	padding-left: 1rem;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.control__icon {
	position: absolute;
	width: 1.3em;
	height: 1.3em;
	top: 50%;
	right: 10px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	pointer-events: none;
	color: mediumseagreen;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
/*******************/

.sub-ban {
	position: absolute;
	z-index: 99;
	width: 480px;
	top: 50%;
	left: 100px;
	transform: translate(0%, -50%);
}

.sub-ban h5 {
	font-size: 20px;
	line-height: 20px;
	color: #000;
	font-weight: 700;
	padding-left: 10px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.sub-ban h2 {
	font-family: 'Poppins', sans-serif;
	padding-top: 20px;
	font-size: 40px;
	line-height: 45px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	position: relative;
}

.sub-ban h2:before {
	content: '';
	width: 100px;
	height: 4px;
	display: block;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.sub-ban p {
	font-size: 16px;
	line-height: 26px;
	color: #000;
	margin-bottom: 10px;
}

.sub-ban a {
	display: inline-block;
	padding: 5px 20px;
	border-radius: 18px;
	border: 1px solid black;
	color: black;
	transition: 0.4s;
	font-family: 'Playfair Display', serif;
}

.sub-ban a:hover {
	border: 1px solid transparent;
	color: white;
	background: rgba(0, 0, 0, 0.5)!important;
}

.homebanner .hmban-img img {
	height: 100%;
}

.txt h4 {
	color: black;
}

.txt h2 {
	font-size: 45px;
	color: #f8c366;
	margin-bottom: 20px;
}

.txt p {
	color: grey;
	margin-bottom: 20px;
}

.abt-us {
	background: #fff url(../images/bg2.png) no-repeat left top;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 120px 0;
	border-radius: 0 0 40px 40px;
	margin-bottom: -40px;
	position: relative;	
	z-index: 1;
}

.abt-img {
	width: 50%;
	float: left;
	margin-left: -9%;
}

.abt-img img {
	width: 100%;
}

.abt-txt {
	width: 53%;
	float: right;
}

.cartlink i {
	margin-right: 10px;
}

#counts {
	width: 30%;
	float: left;
	margin-right: 15px;
	border-right: 1px solid #e6e6e4;
	padding-right: 12px;
}

#counts p {
	margin: 10px 0 0 0;
}

#counts:last-child {
	border-right: 1px solid transparent;
	margin-right: 0;
	width: 25%;
}

.count {
	color: #e9a46b;
	font-family: 'Playfair Display', serif;
	font-size: 60px;
	line-height: 50px;
}

.addsign {
	color: #e9a46b;
	font-family: 'Playfair Display', serif;
	font-size: 45px;
	line-height: 35px;
}

.todaysOffer {
	background-image: url(../images/bg3.jpg);
	background-color: #1a1b20;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 45px 0;
}

.tdy-offer-txt {
	float: left;
	width: 40%;
	margin-top: 120px;
}

.tdy-offer-txt h4,.tdy-offer-txt h2,.tdy-offer-txt h3 {
	margin-bottom: 20px;
}

.tdy-offer-txt h3 {
	color: white;
}

.tdy-offer-txt h4 {
	color: white;
	margin-bottom: 0;
}

.tdy-offer-img {
	float: right;
	width: 50%;
}

.tdy-offer-img img:first-child {
	width: 100%;
}

.tdy-offer-img img:last-child {
	width: 70%;
	margin-top: -150px;
	margin-right: 30px;
	float: right;
	position: relative;
	z-index: 5;
}

.homeoffer {
	margin-top: -7%;
}

.owl-prev,.owl-next {
	width: 42px !important;
	height: 42px !important;
	border: 1px solid #808080 !important;
	color: #808080 !important;
	position: absolute !important;
	bottom: 5%;
	font-size: 12px;
}

.owl-prev {
	left: 49%;
	/*background-image: url(../images/leftarrow.png) no-repeat !important; */
	background-color: #1a1b20  !important;
	background-repeat: no-repeat!important;
}

.owl-next {
	left: 54%;
	/*background-image: url(../images/rightarrow.png) !important; */
	background-color: #1a1b20  !important;
	/*background-repeat:no-repeat;*/;
}
/*today's spl*/
.spl-head
{
	margin-bottom: 20px;
}
.todayspl
{
	background: #111216;
	padding: 45px 0;
}
.spl-title
{
	float: left;
	display: inline-block;
	width: 40%;
}
.spl-title.txt h4
{
	color: white;
}
.order-now-btn
{
	float: right;
	display: inline-block;
}
.order-now-btn a
{
	padding: 5px 20px;
	background: #ed212c;
	border-radius: 20px;
	display: inline-block;
	color: white;
	font-family: 'Playfair Display', serif;
}
.spl-dishes
{
	display: flex;
	justify-content: space-between;
	position: relative;
}
.spl-dishes .dish:first-child
{
	width: 25%;
}
.spl-dishes .dish:first-child img
{
	border-radius: 8% 0 0 0;
}
.spl-dishes .dish:nth-child(2) img
{
	border-radius: 0 8% 0 0;
}
.spl-dishes .dish:nth-child(3) img
{
	border-radius: 0 0 10% 0;
}
.dish
{
	position: relative;
}
/*.spl-dishes .dish:first-child, .spl-dishes .dish:nth-child(2), .spl-dishes .dish:nth-child(3) {
	display: block;
}*/
.dish p
{
	margin-top: 12px;
	color: #ccc;
	margin-bottom: 0px;
}
.dish img
{
	width: 100%;
	margin-bottom: -55px;
}
.dish a
{
	border-bottom: 1px solid #b0b6d5;
	color: #b0b6d5;
	display: inline-block;

}
.dish span
{
	padding: 12px;
	background: black;
	border-radius: 5px;
	color: #7d5717;
	display: inline-block;
	margin-left: 5px;
}
.spl-dishes .dish:nth-child(2)
{
	width: 40%;
}
.spl-dishes .dish:nth-child(3)
{
	width: 25%;
	margin-top: 9%; 
}
.grandfeast
{
	background: url(../images/grandfeastbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 65px 0;
	margin-bottom: -10px;
}
.grandfeast-txt
{
	width: 40%;
}
.grandfeast-txt h4
{
	color: white;
}
.grandfeast-txt h2
{
	margin-bottom: 10px;
}
.grandfeast-txt h3 {
	color: white;
	font-family: 'Poppins', sans-serif;	
	font-size: 28px;
	margin-bottom: 20px;
}
.grandfeast-txt a {
	color: white;
	display: inline-block;
	padding: 5px 20px;
	border-radius: 18px;
	border: 1px solid #fff;
	font-family: 'Playfair Display', serif;
}
.footer-1 {
	background: #252429;
	padding: 30px 0;
	display: flex;
}
.flx {
	display: flex;
	justify-content: space-between;	
}
.footer-contact {
	display: inline-block;
}
.footer-contact img {
	display: inline-block;
	width: 52px;
	float: left;
}
.contact-txt {
	display: inline-block;
	float: left;
	font-size: 12px;
	margin-left: 12px;
}
.contact-txt p:first-child {
	color: #706f70;
	margin-bottom: 0;
}
.contact-txt p:last-child {
	color: white;
}
.footer-contact a {
	color: white;
	font-size: 14px;
	margin-bottom: 8px;
	display: inline-block;
}
.footer-2 {
	background: #1b1a1f;
	padding: 15px 0;
}
.footer-2-txt p
{
	display: inline-block;
	float: left;
	font-size: 14px;
	color: white;
	margin: 10px 0;
}
.footer-social-links
{
	display: inline-block;
	text-align: center;
	float: right;
}
.footer-social-links a
{
	display: inline-block;
	width: 32px;
	margin-right: 12px;
}
.footer-social-links a img
{
	display: inline-block;
	width: 100%;
	margin-right: 12px;
}
.footer-social-links a:last-child
{
	margin-right: 0;	
}

.innerban {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.innerban h1 {
	font-size: 50px;
	color: #fff;
	padding: 150px 20px;
	text-align: center;
	font-weight: 500;
	text-shadow: 0 5px 25px rgba(0,0,0,.8);
}
.innerban h1 span {
	animation-duration: 0.7s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	animation-name:visual-tit;
	-webkit-animation-name:visual-tit;
}
@keyframes visual-tit {
	0% {
		padding-left:150px; 
		opacity:0;
		-webkit-opacity:0;
	}
	100% {
		padding-left:0px;
		opacity:1;
		-webkit-opacity:1;
	}
}
@-webkit-keyframes visual-tit {
	0% {
		opacity:0;
		-webkit-opacity:0;
		transform:translateY(20px);
	}
	100% {
		opacity:1;
		-webkit-opacity:1;
		transform:translateY(0px);
	}
}
.innerban:after{
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	background-size:cover;
	background-position:center center;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	animation-name:visual-zoom;
	-webkit-animation-name:visual-zoom;
}
.subv-1:after{
	background-image:url('../images/ban-about.jpg');
	border-bottom-right-radius: 15% 40%;
}


/* .subv-4:after{
	background-image:url('../imag');
	border-bottom-right-radius: 15% 40%;
} */
/* .subv-5:after{
	background-image:url('../images/ban-faq.jpg');
	border-bottom-right-radius: 15% 40%;
} */
/* .subv-6:after{
	background-image:url('../images/ban-help.jpg');
	border-bottom-right-radius: 15% 40%;
} */
/* .subv-7:after{
	background-image:url('../images/ban-terms.jpg');
	border-bottom-right-radius: 15% 40%;
} */
.content {
	padding: 50px 0;
}
.tabs-left, .tabs-right {
	border-bottom: none;
	padding-top: 2px;
}
.tabs-left {
	background: white;
	border-radius: 8px;
}
.tabs-right {
	border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
	float: none;
}
.tabs-left>li {
	margin-right: -1px;
	width: 100%;
	color: black!important;
	border-bottom: 1px solid #eeeeee;
}
.tabs-left>li:first-child {
	font-weight: 700;
	font-size:18px;
}
.tabs-left>li a img
{
	width: 18px;
	display: inline-block;
	float: right;
}
.tabs-left>li:first-child
{
	padding: 12px;
}
.tabs-left>li:first-child:hover
{
	background: white;
}
.tabs-left>li a{
	color: black!important;
	display: inline-block;
	padding: 12px;
}
.tabs-left>li a.active.show
{
	background: #f9c89f;
}
.tabs-left>li:last-child
{
	border-bottom: 1px solid transparent;
}
.tabs-right>li {
	margin-left: -1px;
}
.tabs-left li:hover
{
	background: #f9c89f;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
	border-bottom-color: #ddd;
	border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
	border-bottom: 1px solid #ddd;
	border-left-color: transparent;
}
.tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display:block;
	background: url(../images/right-arrow.png) no-repeat right 15px center;
	background-size: auto 18px;
}
.tabs-right>li>a {
	border-radius: 0 4px 4px 0;
	margin-right: 0;
}
.mainmenu .menulist {
	background: #fff;
	display: flex;
	align-items: center;
	border-radius: 10px;
	margin-bottom: 15px;
}
.mainmenu .menulist .dish-img {
	width: 25%;
	border-radius: 10px 0 0 10px;
}
.mainmenu .menulist .dish-img img {
	width: 100%;
	border-radius: 10px 0 0 10px;
}
.offermenu .menulist .dish-img img {
	width: 100%;
}
.mainmenu .menulist .dish-price {
	text-align: center;
	width: 25%;
}
.mainmenu .menulist .dish-desc {
	width: 50%;
	padding: 0 20px;
	border-right: 1px solid #ddd;
}
.mainmenu dish-desc h5 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 10px;
}
.dish-price {
	text-align: center;
}
.dish-price .netpriz {
	font-family: 'Dancing Script', cursive;
	font-size: 26px;
	font-weight: 700;
	color: #000;
}
.dish-price .netpriz:nth-child(2) {
	text-decoration-line: line-through;
	font-size: 22px;
	color: #4b4b4b;
	font-weight: 400;
}
.dish-price .offpriz {
	font-family: 'Dancing Script', cursive;
	color: red;
	display: inline-block;
	font-weight: 700;
	font-size: 26px;
	margin-right: 15px;
}
.dish-price a {
	background: #BA7E7E;
	padding: 10px 15px;
	display: inline-block;
	outline: 0;
	border: 0;
	font-size: 13px;
	margin-top: 10px;
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 0px;
	color: #F5F5F5;
	cursor: pointer;
}
.dish-price a:hover {
	background: #cda9ac;
	transition: all .4s ease-in-out;
}
.dish-price a i {
	padding-left: 8px;
}
.offer-txt  {
	display: inline-block;
	background: #f9c89f;
	padding: 3px 10px;
	font-weight: 500;
	border-radius: 3px;
	font-size: 14px;
	margin-bottom: 10px;
	color: #5a1111;
}
.offermenu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.offermenu .menulist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	width: 31%;
	margin:0 1%; 
	align-items: center;
	border-radius: 10px;
	margin-bottom: 15px;
}
.offermenu .dish-desc {
	padding: 10px;
	border-bottom: 1px solid #eee;
}
.offermenu .dish-price {
	margin-bottom: 10px;
}
.offermenu .dish-img {
	height: 220px;
	overflow: hidden;
}
.abtdtls {
	padding-right: 80px;
	padding-top: 50px;
	padding-left: 50px;
}
.abtdtls h4 {
	font-size: 26px;
	color: #2c6fab;
	margin-bottom: 10px;
}
.abtdtls h3 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #000;
	display: block;
	margin-bottom: 30px;
}
.embed-responsive {
	position: relative;
	overflow: visible;
}
.embed-responsive img {
	width: 50%;
	position: absolute;
	left: -10%;
	bottom: -40px;
}
.vision {
	margin-top: 40px;
}
.vision .col-md-8 {
	padding-left: 80px;
}
.vision .col-md-8 img {
	margin-top: 40px;
	margin-bottom: 20px;
}
.vision .col-md-8 h2 {
	font-size: 24px;
	margin-bottom: 10px;
}
img.over {
	position: absolute;
	width: 65%;
	bottom: 15px;
	right: -15px;
}
.fast-text-container {
	margin-top: 100px;
}
.fast-text {
	padding-left: 6%;
	border-left: 1px solid #ccc;
}
.vision-mission-container {
	padding-top: 50px;
	position: relative;
}
.vision-mission-container h4 {
	padding-bottom: 20px;
}
.vision-mission-container .block-1, .vision-mission-container .heading{
	margin-bottom: 50px;
}
.fast-text .borderleft {
	border-left: 1px solid #3273da;
	width: px;
	height: 50%;
	display: inline-block;
	position: absolute;
	left: -1px;
}
.vision-mission-container .bordertop {
	border-top: 1px solid #3273da;
	width: 50px;
	height: 1px;
	display: inline-block;
	position: absolute;
	top: 40px;
}
.contact-box-content {
	position: relative;
}
.contact-box-content .img-holder {
	display: block;
	max-width: 580px;
	width: 90%;
}
.contact-box-content .img-holder img {
	width: 100%;
}
.contact-box-content .text-holder {
	display: block;
}
.contact-box-content .text-holder .opening-hours {
	position: relative;
	display: block;
	overflow: hidden;
	max-width: 270px;
	margin: 25px auto 0;
}
.title-box {
	display: block;
	padding-left: 0px;
	padding-bottom: 15px;
}
.title-box  h3 {
	font-size: 22px;
	position: relative;
	padding-left: 15px;
}
.title-box h3:before {
	position: absolute;
	top: 0px;
	left: 0;
	width: 3px;
	height: 20px;
	background: #4f5a86;
	content: "";
}
.quick-contact-box {
	position: relative;
	margin-top: -25px;
	display: block;
	background: #222d43;
	padding: 25px;
	z-index: 10;
}
.quick-contact-box h3 {
	color:#fff;
}
.quick-contact-box p, .quick-contact-box p a {
	color:#c2d6ff;
}
.quick-contact-box ul li:first-child {
	padding-left: 35px;
	background: url(../images/cont-ph.jpg) no-repeat left top;
	background-size: auto 26px;
}
.quick-contact-box ul li:nth-child(2) {
	padding-left: 35px;
	background: url(../images/cont-mail.jpg) no-repeat left top;
	background-size: auto 26px;
}
#msform h2 {
	margin-bottom: 15px;
}
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
#msform input:focus, #msform textarea:focus {
	border: 1px solid #333;
}
#msform textarea {
	height: 120px;
	resize: none
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.mapblk {
	padding: 10px 10px 2px 10px;
	background: #fff;
	border:1px solid #ccc;
}

.cartpanel {
	background: #fff;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	z-index: 9999;
	overflow-y: scroll;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-ms-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
	padding-bottom: 100px;
	width: 320px;
	max-width: -moz-calc(100vw - 40px);
	max-width: -webkit-calc(100vw - 40px);
	max-width: -ms-calc(100vw - 40px);
	max-width: calc(100vw - 40px);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	padding: 16px 20px 10px;
}
.cart-show .cartpanel {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.wrap-overlay {
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
	display: none;
	height: 100vh;
	width: 100%;
	z-index: 999;
}
.cart-show {
	overflow: hidden; 
}
.cart-show .wrap-overlay {
	display: block;
}
.cartpanel h2 {
	font-size: 20px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	margin-top: 25px; 
}
.close-cart {
	font-size: 15px;
	font-weight: 500;
	color: #000;
	position: absolute;
	top: 20px;
	right: 15px;
}
.close-cart i {
	margin-right:6px;
}
.cartpanel ul li {
	display: flex;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.cartpanel ul li .cartimg img {
	width:60px;
	margin-right:10px;
}
.cartpanel ul li .cartdtl {
	width: 100%;
}
.cartaction {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 6px;
}
.cartaction .rate {
	color: #e9a46b;
	font-weight: 500;
	line-height: 25px;
}
.quantity {
	position: relative;
	display: -ms-flexbox;
	display: flex;
}
.quantity .qty {
	width: 40px;
	border: 1px solid #008100;
	height: 25px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	display: block;
}
.cart-product-quantity {
	display: flex;
}
.quantity .minus, .quantity .plus {
	width: 25px;
	border: 1px solid #008100;
	height: 25px;
	text-align: center;
	font-size: 15px;
	background: #008100;
	color: #fff;
	cursor: pointer;
}
.carttotal {
	display: flex;
	justify-content: space-between;
	color: #ed212c;
	font-weight: 700;
}
button.checkbtn {
	display: block;
	margin-top: 15px;
	width: 100%;
	padding: 8px 0px;
	background: #ed212c;
	border-radius: 5px;
	color: white;
	text-align: center;
	font-family: 'Playfair Display', serif;
}
.loginBlk {
	background: #fff;
	width: 500px;
	margin: 0 auto;
	padding: 30px 50px;
	border-radius: 8px;
	z-index: 99;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}
.loginBlk h6 {
	font-size: 28px;
	color: #000;
	padding: 0;
	margin-bottom: 10px;
}
.loginBlk p {
	font-weight: 400;
	font-size: 17px;
	color: #000;
	padding: 0;
	margin-bottom: 20px;
}
.loginBlk > a {
	text-align: right;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block !important;
	font-size: 14px;
	color: #646464;
	float: right;
	clear: both;
}
.registerlink {
	padding-top: 15px;
	margin-top: 15px;
	border-top:1px solid #ddd;
	text-align: center;
}
.registerlink > a {
	margin-left: 10px;
	text-decoration: underline;
	font-weight: 600;
	color: #333;
}
.loginBlk .btnBlue {
	width: 100%;
}
.loginBlk .btnBlue:before {
	margin-left: -100%;
}
.loginBlk .btnBlue:hover:before {
	margin-left: 200px;
}
/*.md-input {
	display: table;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.md-input input {
	height: 35px;
	border-radius: 0;
	border: none;
	width: 100%;
	padding: 0;
	font-size: 16px;
	box-shadow: none;
}
.md-input textarea {
	height: 80px;
	border-radius: 0;
	border: none;
	width: 100%;
	padding: 0;
	font-size: 16px;
	box-shadow: none;
}
.md-input label {
	font-size: 16px;
	left: 0px;
	position: absolute;
	top: -22px;
	transition: 0.2s;
	color: #666;
	cursor: text;
	font-weight: normal;
}
.md-input .border {
	height: 1px;
	background: #ccc;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-ms-transition: 0.3s;
}
.md-input .border::before {
	content: " ";
	display: table;
	height: 2px;
	width: 0%;
	background: transparent;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-ms-transition: 0.3s;
	margin: 0 auto;
}
.md-input input:focus ~ .border {
	background: transparent;
}
.md-input input:focus ~ .border::before {
	width: 100%;
	background: #b6e70b;
}
.md-user input {
	background: url(../images/ico-user.png) no-repeat 0% center;
	background-size: auto 70%;
	padding-left: 30px;
}
.md-pass input {
	background: url(../images/ico-key.png) no-repeat 0% center;
	background-size: auto 70%;
	padding-left: 30px;
}*/
.wrap-input {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	width: 100%;
	border-radius: 3px;
	position: relative;
	position: relative;
	margin-bottom: 10px;
}
.wrap-input span {
	font-size: 14px;
	color: #555555;
	display: inline-block;
	pointer-events: none;
	width: auto;
	padding: 0;
	margin-bottom: 5px;
	background: #fff;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.wrap-input .inputlog {
	font-size: 14px;
	color: #555555;
	line-height: 30px;
	border: none;
	outline: 0;
	background-color: #fff;
	display: block;
	width: 100%;
	background: transparent;
	padding: 0px 15px 0;
	height: 40px;
	line-height: 40px;
	border-radius: 0;
	background-color: #fff;
	border:1px solid #ddd;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.wrap-input select {
	font-size: 14px;
	color: #555555;
	line-height: 30px;
	border: none;
	outline: 0;
	background-color: #fff;
	display: block;
	width: 98%;
	background: transparent;
	padding: 0px 15px 0;
	height: 45px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.wrap-input textarea.inputlog {
	height: 100px;
	padding-top: 8px;
	line-height: 24px;
}
.wrap-input .alert-danger {
	padding: 5px 10px;
	font-size: 13px;
}
.btns {
	display: inline-block;
	margin-top: 5px;
	padding: 8px 0px;
	width: 150px;
	background: #ed212c;
	border-radius: 5px;
	color: white;
	text-align: center;
	font-family: 'Playfair Display', serif;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.btns:hover {
	color: #fff;
}
.profileblk {
	background: #fff;
	margin: 0 auto;
	padding: 30px 80px;
	border-radius: 8px;
	z-index: 99;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}
.profileblk h6 {
	    margin-bottom: 40px;
    font-size: 25px;
}
.loginBlk h5 {
    font-size: 15px;
    color: #000;
    padding: 0;
    margin-bottom: 10px;
}
#banner .owl-dots {
    position: absolute;
    text-align: center;
    bottom: 15px;
    z-index: 9999;
    width: 100%;
}
#banner .owl-carousel button.owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background: rgba(0,0,0,0.3);
}
#banner .owl-carousel button.owl-dot.active {
	 background: rgba(0,0,0,0.7);
}
.cartpanel .addcart{
	width: 95%
}
.cartpanel .labcart {
	font-size: 15px;
	display: block;
	margin-top: 20px;
}

table.datatable {
	margin: 10px 0;
	width: 100%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);
  }
  table.datatable thead th {
	background-color: #0084ff;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	padding: 15px 10px 15px 10px;
	border-bottom: none;
	white-space: normal;
  }
  table.datatable thead th ul {
	display: flex;
  }
  table.datatable thead th ul li {
	width: 100px;
  }
  table.datatable thead th:last-child {
	min-width: 120px;
  }
  .datatable tbody td {
	padding: 8px 10px;
	background-color: #f2f9ff;
	border-top: 1px solid #e3eeff;
	border-bottom: 1px solid #e3eeff;
	color: #333;
	font-size: 14px;
	white-space: normal;
  }
  .datatable tbody td img {
	height: 80px;
	border:1px solid #ccc;
	padding: 3px;
  }
  .datatable tbody td .techlist {
	height: 23px;
	overflow: hidden;
	padding-top: 1px;
	position: relative;
  }
  .datatable tbody td .techlist.auto {
	height: auto;
  }
  .datatable tbody td .techlist.auto .accdtech i:before {
	content: "";
  }
  .datatable tbody td .techlist ul {
	display: flex;
	margin-bottom: 8px;
  }
  .datatable tbody td .techlist ul li {
	width: 100px;
  }
  .datatable tbody td .techlist .accdtech {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	color: #31699d;
  }
  .datatable tbody td .techlist .accdtech i {
	border: 1px solid #31699d;
	width: 20px;
	height: 20px;
	display: inline-block;
	line-height: 18px;
	text-align: center;
  }
  .datatable tbody td > a {
	font-weight: 500;
	color: #000;
	text-decoration: underline;
	text-transform: capitalize;
  }
  .datatable tbody td > a i {
	color: #007bff;
  }
  .datatable tbody td span.open {
	border: solid 1px #0084ff;
	font-size: 13px;
	font-weight: 500;
	color: #0084ff;
	border-radius: 5px;
	padding: 3px 7px;
	text-transform: capitalize;
  }
  .datatable tbody td span.prospect {
	border: solid 1px #db34c0;
	font-size: 13px;
	font-weight: 500;
	color: #db34c0;
	border-radius: 5px;
	padding: 3px 7px;
	text-transform: capitalize;
  }
  .datatable tbody td span.converted {
	border: solid 1px #0e7c7b;
	font-size: 13px;
	font-weight: 500;
	color: #0e7c7b;
	border-radius: 5px;
	padding: 3px 7px;
	text-transform: capitalize;
  }
  .datatable tbody td span.rejected {
	border: solid 1px #db3a34;
	font-size: 13px;
	font-weight: 500;
	color: #db3a34;
	border-radius: 5px;
	padding: 3px 7px;
	text-transform: capitalize;
  }
  .datatable tbody td .dropdown {
	text-align: right;
	padding-right: 17px;
  }
  .datatable tbody tr:nth-child(even) td {
	background-color: #fff;
	border-top: 1px solid #fff;
  }
  .ordertable span.id {
	width: 68px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	padding: 0;
	display: block;
	text-transform: uppercase;
  }
  .ordertable span.date {
	width: 73px;
	white-space: nowrap;
	overflow: hidden;
	word-break: break-all;
	padding: 0;
	display: block;
	text-transform: uppercase;
  }
  .ordertable tr td > table {
	width: 350px;
	text-align: left;
	
  }
  .ordertable tr td > table tr th {
	background-color: #333;
	color:#fff;
	font-size: 13px;
	padding: 5px;
	border:1px solid #222;
  }
  .ordertable tr td > table tr:nth-child(1n) td {
	background-color: #666;
	color: #fff;
	padding: 5px;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
  
  }
  .ordertable tr td > table tr:nth-child(2n) td {
	background-color: #666;
	color:#fff;
	padding: 5px;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
  }
  .ordertable select {
	border:1px solid #ccc;
	padding: 10px;
  }
  .ordertable > tbody > tr > td:last-child {
	text-align: center;
  }
  .ordertable label[title=Pending] {
	display: inline-block;
	padding: 5px 15px;
	color:  #fff;
	border-radius: 5px;
	background-color: #fb3;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	margin-bottom: 10px;
  }
  .ordertable label[title=Accepted] {
	display: inline-block;
	padding: 5px 15px;
	color:  #fff;
	border-radius: 5px;
	background-color: #00c851;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	margin-bottom: 10px;
  }
  .ordertable label[title=Canceled] {
	display: inline-block;
	padding: 5px 15px;
	color:  #fff;
	border-radius: 5px;
	background-color: #ff3547;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	margin-bottom: 10px;
  }  

 .mm-opening .mm-menu.mm-offcanvas {
   display: block !important;
}
 .mm-opening .mm-panel {
    transform: translate(0%);
    transform: translate3d(0%,0,0);
}