/* ------------------------------------------------------------------------------ 
Project Name : Daqing 
Description : Main Style Sheet 
Author : Imran Rovan 
Created On : 22 Feb 2018 
--------------------------------------------------------------------------------*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Poppins:wght@400;500;700&display=swap');

/*font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/



/*  Reset */
html, body {
  margin: 0;
  padding: 0;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}
img {
  display: block;
  outline: none;
}
img, input, textarea, button, select {
  border: 0;
  outline: 0 !important;
  resize: none;
}
a, a:hover, a:focus {
  text-decoration: none;
  -moz-transition: all .200s ease-in-out;
  -webkit-transition: all .200s ease-in-out;
  transition: all .200s ease-in-out;
}
.clear {
  clear: both;
  font-size: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
li.clearfix {
  display: list-item;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, p, a, li, span, div {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*Theme */
body {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -ms-overflow-style: scrollbar;
  background: white;
}
p {
  font-size: 15px;
  /*line-height: 24px;*/
  font-weight: 400;
  color: #4b4b4b;
  text-align: justify;
}
h1,h2,h3 {
  font-family: 'Playfair Display', serif;
}
h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}
header {
    background: transparent;
    width: 100%;
    height: 160px;
    position: fixed;
    top: 0;
    z-index: 555;
    transition: top 0.5s ease-in-out;
}
header {
     position: fixed;
     width: 100%;
     height: 100px;
     top: 0;
     left: 0;
     background-color: transparent;
     padding: 10px 0;
     z-index: 999;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
header.header-fixed {
     height: 80px;
     padding: 5px 0;
     background-color: rgba(255,255,255,1);
     top: 0px;
     -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
     -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
     box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
}
header .logo {
     float: left;
}
header .logo img {
     display: block;
     height: 130px;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
header.header-fixed .logo img {
     height: 70px;
}
header nav#menu ul li
{
  display: inline-block!important;
}
#menu > ul > li:last-child a 
{
  background:rgba(0, 0, 0, 0.5)!important;
  border-radius: 5px!important;
}

/*search box*/
.search_btn
{
  padding-top: 0!important;
}
.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
  color: white!important;
}
.search-btn {
  color: white!important;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:rgba(0, 0, 0, 0.5)!important;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

/*******************/


/*About us page*/
.main
{
  margin: 60px 0;
}
.sub-visual{
  width:100%;
  position:relative;
  overflow:hidden;
}
.sub-visual:after{
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  background-size:cover;
  background-position:center center;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-name:visual-zoom;
  -webkit-animation-name:visual-zoom;
}
.subv-1:after{
  background-image:url('../images/ban-about.jpg');
  border-bottom-right-radius: 15% 40%;
}
.subv-2:after{
  background-image:url('../images/ban-brands.jpg');
  border-bottom-right-radius: 15% 40%;
}
.subv-3:after{
  background-image:url('../images/ban-contact.jpg');
  border-bottom-right-radius: 15% 40%;
}
.subv-4:after{
  background-image:url('../images/ban-product.jpg');
  border-bottom-right-radius: 15% 40%;
}
.subv-5:after{
  background-image:url('../images/ban-faq.jpg');
  border-bottom-right-radius: 15% 40%;
}
.subv-6:after{
  background-image:url('../images/ban-help.jpg');
  border-bottom-right-radius: 15% 40%;
}
.subv-7:after{
  background-image:url('../images/ban-terms.jpg');
  border-bottom-right-radius: 15% 40%;
}
.sub-visual h1{
  font-size:50px;
  color:#fff;
  padding:150px 20px;
  text-align:center;
  font-weight:500;
  text-shadow: 0 5px 25px rgba(0,0,0,.8);
}
.sub-visual h1 span, .sub-visual h1 p{
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-name:visual-tit;
  -webkit-animation-name:visual-tit;
}
.sub-visual h1 p {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
@keyframes visual-tit {
  0% {
    opacity:0;
    -webkit-opacity:0;
    transform:translateY(20px);
  }
  100% {
    opacity:1;
    -webkit-opacity:1;
    transform:translateY(0px);
  }
}
@-webkit-keyframes visual-tit {
  0% {
    opacity:0;
    -webkit-opacity:0;
    transform:translateY(20px);
  }
  100% {
    opacity:1;
    -webkit-opacity:1;
    transform:translateY(0px);
  }
}
.sub-visual h1 p{
  font-size:18px;
  font-weight:300;
  margin:10px 0 0;
}
.sub-depth-2{
  text-align:center;
  border-bottom:1px solid #ddd;
}
.sub-depth-2 a{
  display:inline-block;
  line-height:55px;
  margin:0 20px;
  padding:0 10px;
  color:#666;
  position:relative;
}
.sub-depth-2 a.active, .sub-depth-2 a:hover {
  color:#656a7e;
}
.sub-depth-2 a.active:after{
  content:'';
  width:0;
  height:3px;
  background:#656a7e;
  position:absolute;
  left:50%;
  bottom:-1px;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-name:sub-tab-line;
  -webkit-animation-name:sub-tab-line;
}
@keyframes sub-tab-line {
  0% {
    width:0%;
    left:50%;
  }
  100% {
    width:100%;
    left:0;
  }
}
@-webkit-keyframes sub-tab-line {
  0% {
    width:0%;
    left:50%;
  }
  100% {
    width:100%;
    left:0;
  }
}
.fast-text-container {
  margin-top: 100px;
}
.fast-text {
  padding-left: 6%;
  border-left: 1px solid #ccc;
}
.vision-mission-container {
  padding-top: 50px;
  position: relative;
}
.vision-mission-container h4 {
  padding-bottom: 20px;
}
.vision-mission-container .block-1, .vision-mission-container .heading{
  margin-bottom: 50px;
}
.fast-text .borderleft {
  border-left: 1px solid #3273da;
  width: px;
  height: 50%;
  display: inline-block;
  position: absolute;
  left: -1px;
}
.vision-mission-container .bordertop {
  border-top: 1px solid #3273da;
  width: 50px;
  height: 1px;
  display: inline-block;
  position: absolute;
  top: 40px;
}

.abtdtls {
  width: 400px;
  padding-top: 50px;
  padding-left: 50px;
}
.abtdtls h4 {
  font-size: 18px;
  color: #2c6fab;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.abtdtls h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}
.embed-responsive {
  position: relative;
  overflow: visible;
}
.embed-responsive img {
  width: 50%;
  position: absolute;
  left: -10%;
  bottom: -40px;
}
.vision {
  margin-top: 40px;
}
.vision .col-md-8 {
  padding-left: 80px;
}
.vision .col-md-8 img {
  margin-top: 40px;
  margin-bottom: 20px;
}
.vision .col-md-8 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
img.over {
  position: absolute;
  width: 70%;
  bottom: 20px;
  right: -15px;
}

/****************************************sidebar*********************************************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}
.sidenav::-webkit-scrollbar
{
  width: 5px;
}
.sidenav::-webkit-scrollbar-track
{
  background: white; 
}
.sidenav::-webkit-scrollbar-thumb
{
  background: #888;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .cart-orders
{
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid #dedede;
}
.sidenav .cart-orders #cart-dish-num
{
  display: inline-block;
  min-width: 40px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}
.sidenav .cart-orders img
{
  width: 100%;
}
.sidenav .cart-orders button
{
  cursor: pointer;
  padding: 5px 12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: white;
  display: inline-block;
  margin: 0 12px;
  background: black;
}
.sidenav .cart-orders h3,.sidenav h3
{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px 0;
  font-size: 22px;
}
.sidenav .cart-orders p
{
  font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

/*******************footer******************/
.footer-1
{
  background: #252429;
  padding: 30px 0;
  display: flex;
}
.flx
{
  display: flex;
  justify-content: space-between; 
}
.footer-contact
{
  /*width: 20%;*/
  display: inline-block;
}
.footer-contact img
{
  display: inline-block;
  width: 52px;
  float: left;
}
.contact-txt
{
  display: inline-block;
  float: left;
  font-size: 12px;
  margin-left: 12px;
}
.contact-txt p:first-child
{
  color: #706f70;
}
.contact-txt p:last-child
{
  color: white;
}
.footer-contact a
{
  color: white;
  font-size: 14px;
      margin-bottom: 8px;
    display: inline-block;
}
/*footer 2*/
.footer-2
{
  background: #1b1a1f;
  padding: 15px 0;
}
.footer-2-txt p
{
  display: inline-block;
  float: left;
  font-size: 14px;
  color: white;
  margin: 10px 0;
}
.footer-social-links
{
  display: inline-block;
  text-align: center;
  float: right;
}
.footer-social-links a
{
  display: inline-block;
  width: 32px;
  margin-right: 12px;
}
.footer-social-links a img
{
  display: inline-block;
  width: 100%;
  margin-right: 12px;
}
.footer-social-links a:last-child
{
  margin-right: 0;  
}