.brandslst {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.brandslst li {
  border: 1px solid #ccc;
  margin: 5px .5%;
  float: left;
  width: 24%;   
}
.brandslst li img {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}
.brandslst li:hover img {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-transition: all .200s ease-in-out;
  -webkit-transition: all .200s ease-in-out;
  transition: all .200s ease-in-out;
}
.contact-box-content {
  position: relative;
}
.contact-box-content .img-holder {
  display: block;
  max-width: 580px;
  width: 90%;
}
.contact-box-content .img-holder img {
  width: 100%;
}
.contact-box-content .text-holder {
  display: block;
}
.contact-box-content .text-holder .opening-hours {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 270px;
  margin: 25px auto 0;
}
.title-box {
  display: block;
  padding-left: 0px;
  padding-bottom: 15px;
}
.title-box  h3 {
  font-size: 22px;
  position: relative;
  padding-left: 15px;
}
.title-box h3:before {
  position: absolute;
  top: 0px;
  left: 0;
  width: 3px;
  height: 20px;
  background: #4f5a86;
  content: "";
}
.quick-contact-box {
  position: relative;
  margin-top: -90px;
  display: block;
  background: #222d43;
  padding: 25px;
  z-index: 10;
}
.quick-contact-box h3 {
  color:#fff;
}
.quick-contact-box p, .quick-contact-box p a {
  color:#c2d6ff;
}
.quick-contact-box ul li:first-child {
  padding-left: 35px;
  background: url(../images/icons/cont-ph.jpg) no-repeat left top;
  background-size: auto 26px;
}
.quick-contact-box ul li:nth-child(2) {
  padding-left: 35px;
  background: url(../images/icons/cont-fax.jpg) no-repeat left top;
  background-size: auto 26px;
}
.quick-contact-box ul li:nth-child(3) {
  padding-left: 35px;
  background: url(../images/icons/cont-mail.jpg) no-repeat left top;
  background-size: auto 26px;
}
.quick-contact-box ul li:nth-child(4) {
  padding-left: 35px;
  background: url(../images/icons/cont-map.jpg) no-repeat left top;
  background-size: auto 26px;
}

#msform h2 {
  margin-bottom: 15px;
}
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}
#msform input:focus, #msform textarea:focus {
  border: 1px solid #333;
}
#msform textarea {
  height: 120px;
  resize: none
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
.prodlist {
  display: flex;
  flex-wrap: wrap;
}
.prodlist .prodcard {
  width: 25%;
  padding: 10px;
  margin-bottom: 25px;
  -moz-transition: all .200s ease-in-out;
  -webkit-transition: all .200s ease-in-out;
  transition: all .200s ease-in-out;
}
.prodlist .prodcard:hover {
  box-shadow: 0 0 0 0.5px rgba(61, 119, 180, 0.12), 0 8px 16px 0 rgba(91, 139, 199, 0.24);
}
.prodlist .prodcard > a{
  width: 100%;
  display: block;
  overflow: hidden;
}
.prodlist .prodcard >  img {
  width: 100%;
  margin-bottom: 30px;
  backface-visibility: hidden;
  transform-origin: top;
  /*-webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  transform: scale(1.06);*/
  -webkit-transition: -webkit-transform .45s cubic-bezier(.33,.02,0,.93);
  -moz-transition: -moz-transform .45s cubic-bezier(.33,.02,0,.93);
  transition: transform .45s cubic-bezier(.33,.02,0,.93);
}
.prodlist .prodcard:hover > img {
  /*transform: scale(1.06) translate3d(-3%,0,0);
  -webkit-transition: -webkit-transform .75s cubic-bezier(.33,.02,0,.93);
  -moz-transition: -moz-transform .75s cubic-bezier(.33,.02,0,.93);
  transition: transform .75s cubic-bezier(.33,.02,0,.93);*/
}
.prodlist.mrgb0 .prodcard >  img {
  margin-bottom: 0;
}
.prodlist .prodcard h4 {
  font-size: 13px;
  color: #2c6fab;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
}
.prodlist .prodcard h3 {
  font-size: 15px;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 5px;
  display: block;
}
.singprod {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}
.singimgblk {
  width: 40%;
  float: left;
}
.singdtlblk {
  width: 60%;
  float: left;
  padding-top: 50px;
  padding-left: 50px;
}
#surround {
  width:100%;
}
img.cloudzoom {
  width:100%;
}
.singdtlblk h6 {
  font-size: 15px;
  color: #e81923;
  margin-bottom: 5px;
}
.singdtlblk h5 {
  font-size: 30px;
  line-height: 35px;
  color: #000;
  margin-bottom: 15px;
  font-weight: 300;
}
.singlink {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.singlink a {
  border-left: 1px solid #666;
  padding-left: 10px;
  color: #e81923;
  margin-left: 10px;
  background: url(../images/ico-arrow.jpg) no-repeat right center;
  padding-right: 15px; 
}
.buyblk .buybtn {
  margin-top: 15px;
  margin-right: 20px;
  background-color: #e81923;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 35px;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  cursor: pointer;
}
.buyblk .enqbtn {
  margin-top: 15px;
  background-color: #5c5c5c;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 35px;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  cursor: pointer;
}
.buyblk .buybtn:hover, .buyblk .enqbtn:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}
.googlemap {
  margin-top: 20px;
  margin-bottom: -60px;
}
.accordion-container {
  position: relative;
  width: 100%;
  border-top: none;
  outline: 0;
  cursor: pointer;
}

.accordion-container .article-title {
  display: block;
  position: relative;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  cursor: pointer;
  padding-right: 40px;
}
article.content-entry {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.accordion-container .article-title:hover,
.accordion-container .article-title:active,
.accordion-container .content-entry.open .article-title {
  color: #2c6fab;
}

.accordion-container .article-title:hover i:before,
.accordion-container .article-title:hover i:active,
.accordion-container .content-entry.open i {
  color: #2c6fab;
}

.accordion-container .content-entry i {
  position: absolute;
  top: 0;
  right: 12px;
  font-style: normal;
  font-size: 20px;
  color: #2c6fab;
  height: 25px;
  line-height: 25px;
  border: 1px solid #2c6fab;
  width: 25px;
  text-align: center;
  border-radius: 50%;
}

.accordion-container .content-entry i:before {
  content: "+ ";
}

.accordion-container .content-entry.open i:before {
  content: "- ";
}

.accordion-content {
  display: none;
  padding-left: 0;
}
.accordion-content p {
  margin-top:15px;
}
.accordion-container, #description {
  width: 100%;
  margin:20px auto;
}
#accordion {
  margin-top: 50px;
}
.terms h2 {
  margin-top:40px;
  margin-bottom: 20px;
  font-size: 25px;
}
.terms ul li {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555;
  margin-bottom: 10px;
  list-style: disc;
  margin-left: 20px;
}
.promise h4 {
  font-size: 18px;
  color: #1671ca;
  margin-bottom: 15px;
}
.promise p strong {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  color: #e81923;
  font-family: 'Playfair Display', serif;
  display: block;
}
.promise ul li {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4b4b4b;
  position: relative;
  padding-left: 20px;
}
.promise ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
  background: #1671ca;
  /*-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.help {
  display: flex;
  justify-content: space-around;
}
.help li {
  width: 30%;
  text-align: center; 
  border: 1px #ccc solid;
  padding: 40px 20px;
}
.help li .helpblk img {
  margin: 0 auto 15px;
}
.help li .helpblk h6 {
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}
.help li .helpblk p {
  font-size: 16px;
  margin-bottom: 15px;
  min-height: 50px;
}
.help li .helpblk a {
  margin-top: 15px;
  margin-right: 20px;
  background-color: #e81923;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 35px;
  height: 35px;
  line-height: 35px;
  padding: 0 25px;
  cursor: pointer;
}